@model List<Endpoint.MVC.Dtos.Products.WageDto>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> کارمزدهای پرداختی
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <tr>
                        <th>میزان کارمزد (تومان)</th>
                        <th>تاریخ</th>
                        <th>محصول</th>
                        <th>غرفه</th>
                    </tr>
                    @foreach (var comment in Model)
                    {
                        <tr>
                            <td>@comment.Wages</td>
                            <td>@comment.Date</td>
                            <td>@comment.ProductTitle</td>
                            <td>@comment.BoothTitle</td>
                        </tr>

                    }
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>