@model Endpoint.MVC.Dtos.Booth.CreateBoothViewModel


<div class="container border rounded-2 p-2 my-2">

    <form method="post" asp-area="seller" asp-controller="booth" asp-action="create" class="form" enctype="multipart/form-data">
        <div>
            <label class="form-label">عنوان غرفه</label>
            <input type="text" class="form-control" name="Title" />
            <span class="text-danger" asp-validation-for="@Model.Title"></span>
        </div>

        <div>
            <label class="mt-4 form-label">توضیحات</label>
            <textarea class="form-control" name="Description"></textarea>
            <span class="text-danger" asp-validation-for="@Model.Description"></span>
        </div>

        <div>
            <label class="form-label">تصویر</label>
            <input type="file" class="form-control" name="Picture" />
            <span class="text-danger" asp-validation-for="@Model.Picture"></span>
        </div>
 


        <div class="text-center">
            <button type="submit" class="my-4 btn btn-info">ایجاد</button>
        </div>
    </form>
</div>